<template>
    <tr>
        <th scope="row">{{ category.id }}</th>
        <td>
            <router-link :to="{ name: 'positionsRoute', query: { category_id: category.id }}"
                         class="text-black text-decoration-none text-decoration-underline">
                {{ category.name }}
            </router-link>
        </td>
        <td>
            <div :style="getStyle">
            </div>
        </td>
        <td class="text-end">
            <span class="material-icons-outlined"
                  type="button"
                  data-toggle="modal"
                  v-bind:data-target="'#edit-modal-' + category.id">
                edit
            </span>
            <span class="material-icons-outlined"
                  type="button"
                  data-toggle="modal"
                  v-bind:data-target="'#delete-modal-' + category.id">
                delete
            </span>
        </td>
    </tr>

    <!-- Delete modal -->
    <div class="modal fade" v-bind:id="'delete-modal-' + category.id" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Delete category '{{ category.name }}'
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="d-flex justify-content-center modal-body">
                    <button type="button"
                            class="btn btn-secondary me-3"
                            data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            data-dismiss="modal"
                            @click="deleteCategory()">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit modal -->
    <div class="modal fade" v-bind:id="'edit-modal-' + category.id" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Edit category '{{ category.name }}'
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="category-id">
                            Id
                        </label>
                        <input type="text"
                               class="form-control"
                               id="category-id"
                               name="id"
                               v-bind:value="category.id"
                               disabled>
                    </div>
                    <div class="form-group">
                        <label for="category-name">
                            Name
                        </label>
                        <input type="text"
                               class="form-control"
                               id="category-name"
                               placeholder="Enter name"
                               name="name"
                               v-bind:value="category.name">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                    <button type="button"
                            class="btn btn-primary"
                            data-dismiss="modal"
                            id="apply-button"
                            @click="editCategory()">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import { toRef, computed } from 'vue'
import { editCategoryRequest, deleteCategoryRequest } from '../../assets/requests.js'

export default {
    props: ['data'],
    emits: ['refresh'],
    setup(props, context) {
        const category = toRef(props, 'data')

        const deleteCategory = async () => {
            const response = await deleteCategoryRequest(category.value.id)

            if (!response.errors) {
                context.emit('refresh')
            } else {
                context.emit('errors')
            }
        }
        
        const editCategory = async () => {
            const categoryData = getCategoryData()
            const response = await editCategoryRequest(categoryData)
            
            if (!response.errors) {
                context.emit('refresh')
            } else {
                context.emit('errors', response.message)
            }
        }
        
        const getCategoryData = () => {
            const categoryData = {}

            document.querySelectorAll('.modal#edit-modal-' + category.value.id + ' input')
                    .forEach((element) => { categoryData[element.name] = element.value })

            return categoryData
        }

        const getStyle = computed(() => {
            let style = "background-image: url(" + category.value.image + ");"
            style += "width: 100px; height: 100px; background-position: center; background-size: cover;"
            return style
        })


        return {
            category,
            getStyle,
            deleteCategory,
            editCategory
        }
    },
}
</script>