<template>
<tr>
	<th scope="row">
		{{ position.id }}
	</th>
	<td>
		{{ position.category.name }}
	</td>
	<td>
		{{ position.product.name }}
	</td>
	<td class="text-end">
		<span class="material-icons-outlined"
            type="button"
            data-toggle="modal"
            v-bind:data-target="'#edit-modal-' + position.id">
            edit
        </span>
        <span class="material-icons-outlined"
            type="button"
            data-toggle="modal"
            v-bind:data-target="'#delete-modal-' + position.id">
            delete
        </span>
	</td>
</tr>

<!-- Delete modal -->
<div class="modal fade" v-bind:id="'delete-modal-' + position.id" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Delete position
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="d-flex justify-content-center modal-body">
                <button type="button"
                        class="btn btn-secondary me-3"
                        data-dismiss="modal">
                    Cancel
                </button>
                <button type="button"
                        class="btn btn-danger"
                        data-dismiss="modal"
                        @click="deletePosition()">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Edit modal -->
<div class="modal fade"
     v-bind:id="'edit-modal-' + position.id"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Edit position
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="product-id">
                        ID
                    </label>
                    <input type="text"
                           class="form-control"
                           id="product-id"
                           name="id"
                           v-bind:value="position.id"
                           disabled>
                </div>
                
                <SelectItems class="mb-3"
                             :data="categories"
                             :select_name="'category_id'"
                             :label_text="'Select category'"
                             :selected_row="position.category.id"/>
                <SelectItems class="mb-3"
                             :data="products"
                             :select_name="'product_id'"
                             :label_text="'Select product'"
                             :selected_row="position.product.id"/>
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        id="apply-button"
                        @click="editPosition()">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

</template>
<script>
import { toRef } from 'vue'
import { deletePositionRequest, editPositionRequest } from '../../assets/requests'
import SelectItems from	 '../SelectItems.vue'

export default {
	props: [
        'data',
        'products',
        'categories'
    ],
    emits: ['refresh'],
	components: { SelectItems },
	setup(props, context) {
		const position = toRef(props, 'data')

		const deletePosition = async () => {
			const response = await deletePositionRequest(position.value.id)

			if (!response.errors) {
				context.emit('refresh')
			} else {
				context.emit('errors')
			}
		}

		const editPosition = async () => {
			const positionData = {}
			document.querySelectorAll('#edit-modal-8 .modal-body select')
					.forEach((select) => {
						positionData[select.name] = select.value
					})

			document.querySelectorAll('#edit-modal-8 .modal-body input')
					.forEach((input) => {
						positionData[input.name] = input.value
					})

			const response = await editPositionRequest(positionData)
			if (!response.errors) {
				context.emit('refresh')
			} else {
				context.emit('errors')
			}

		}

		return {
			position,
			deletePosition,
			editPosition
		}
	}
}
</script>