<template>
    <tr>
        <th scope="row">
            {{ product.id }}
        </th>
        <td>
            {{ product.name }}
        </td>
        <td>
            {{ product.price }}
        </td>
        <td>
            <div :style="getStyle">
            </div>
        </td>
        <td class="text-end">
            <span class="material-icons-outlined"
                type="button"
                data-toggle="modal"
                v-bind:data-target="'#edit-modal-' + product.id">
                edit
            </span>
            <span class="material-icons-outlined"
                type="button"
                data-toggle="modal"
                v-bind:data-target="'#delete-modal-' + product.id">
                delete
            </span>
        </td>
    </tr>

    <!-- Edit modal -->
    <div class="modal fade"
         v-bind:id="'edit-modal-' + product.id"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Edit product '{{ product.name }}'
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="product-id">
                            ID
                        </label>
                        <input type="text"
                               class="form-control"
                               id="product-id"
                               name="id"
                               v-bind:value="product.id"
                               disabled>
                    </div>
                    <div class="form-group mt-3">
                        <label for="product-name">
                            Name
                        </label>
                        <input type="text"
                               class="form-control"
                               id="product-name"
                               placeholder="Enter name"
                               name="name"
                               v-bind:value="product.name">
                    </div>
                    <div class="form-group mt-3">
                        <label for="product-price">
                            Price
                        </label>
                        <input type="text"
                               class="form-control"
                               id="product-price"
                               placeholder="Enter price"
                               name="price"
                               v-bind:value="product.price">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                    <button type="button"
                            class="btn btn-primary"
                            data-dismiss="modal"
                            id="apply-button"
                            @click="editProduct()">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Delete modal -->
    <div class="modal fade" v-bind:id="'delete-modal-' + product.id" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Delete product '{{ product.name }}'
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="d-flex justify-content-center modal-body">
                    <button type="button"
                            class="btn btn-secondary me-3"
                            data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            data-dismiss="modal"
                            @click="deleteProduct()">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { toRef, computed } from '@vue/reactivity'
import { editProductRequest, deleteProductRequest } from '../../assets/requests'

export default {
    props: ['data'],
    emits: ['refresh'],
    setup(props, context) {
        const product = toRef(props, 'data')

        const editProduct = async () => {
            const productData = {}

            document.querySelectorAll('.modal#edit-modal-' + product.value.id + ' input')
                    .forEach((input) => {
                        productData[input.name] = input.value
                    })
                    
            const response = await editProductRequest(productData)

            if (!response.errors) {
                context.emit('refresh')
            } else {
                context.emit('errors')
            }
        }

        const deleteProduct = async () => {
            const response = await deleteProductRequest(product.value.id)

            if (!response.errors) {
                context.emit('refresh')
            } else {
                context.emit('errors')
            }
        }

        const getStyle = computed(() => {
            let style = "background-image: url(" + product.value.image + ");"
            style += "width: 100px; height: 100px; background-position: center; background-size: cover;"
            return style
        })

        return {
            product,
            getStyle,
            editProduct,
            deleteProduct
        }
    }
}
</script>