<template>
<div class="card mt-3">
	<CategoriesCardHeader @refresh="getCategories()"/>

	<div class="card-body p-4">
		<table class="table table-hover">
			<thead class="table-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
                    <th scope="col">Image</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<CategoryTableRow v-for="category in categories"
                                  :key="category.id"
                                  :data="category"
                                  @refresh="getCategories()"/>
			</tbody>
		</table>
	</div>

	<div class="card-footer">
		<Paginator :currentPage="page"
                   :pages="pages"
                   :perPage="perPage"
                   :total="total"
                   @setPage="setPage"
                   @setPerPage="setPerPage"/>
	</div>
</div>
</template>

<script>
import { ref, onMounted } from 'vue'
import { getCategoriesRequest } from '../../assets/requests.js'
import CategoriesCardHeader from './CategoriesCardHeader.vue'
import CategoryTableRow from '../tables/CategoryTableRow.vue'
import Paginator from '../Paginator.vue'

export default {
    components: { 
        CategoriesCardHeader,
        CategoryTableRow,
        Paginator
    },
    emits: ['refresh', 'setPage'],
    setup() {
        const categories = ref([])
        
        const page = ref(1)
        const perPage = ref(5)
        const pages = ref(1)
        const total = ref(0)

        const setPage = (requestedPage) => {
            getCategories(requestedPage, perPage.value)
        }

        const setPerPage = (requestedPerPage) => {
            getCategories(page.value, requestedPerPage)
        }

        const getCategories = async (requestedPage=page.value, requestedPerPage=perPage.value) => {
            const response = await getCategoriesRequest(requestedPage, requestedPerPage)

            categories.value = response.data
            pages.value = parseInt(response.pages)
            perPage.value = parseInt(response.perPage)
            page.value = parseInt(response.page)
            total.value = response.total
        }

        onMounted(getCategories)

        return {
            categories,
            pages,
            perPage,
            page,
            total,
            getCategories,
            setPage,
            setPerPage
        }
    },
}
</script>