<template>
    <div class="card-header d-flex justify-content-between">
        <span class="fs-2 fw-normal">
            Categories
        </span>
        <button class="btn fs-3"
                data-toggle="modal"
                data-target="#add-new-modal">
            +
        </button>

        <div class="modal fade"
             id="add-new-modal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Create new category
                        </h5>
                        <button class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="category-name">
                                Name
                            </label>
                            <input type="text"
                                   class="form-control"
                                   id="category-name"
                                   placeholder="Enter name"
                                   name="name">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal">
                            Close
                        </button>
                        <button type="button"
                                class="btn btn-primary"
                                data-dismiss="modal"
                                id="apply-button"
                                @click="editCategory()">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { createCategoryRequest } from '../../assets/requests.js'

export default {
    setup(props, context) {
        const editCategory = async () => {
            const categoryData = getCategoryData()
            const response = await createCategoryRequest(categoryData)
            
            if (!response.errors) {
                context.emit('refresh')
            } else {
                context.emit('errors', response.message)
            }
        }

        const getCategoryData = () => {
            const categoryData = {}

            document.querySelectorAll('.card-header .modal .modal-body input')
                    .forEach(input => { categoryData[input.name] = input.value })

            return categoryData
        }

        return {
            editCategory
        }
    },
}
</script>