<template>
<div class="card mt-3">
	<PositionsCardHeader @refresh="getPositions()"
                         :products="products"
                         :categories="categories"/>

	<div class="card-body">
		<div class="align-items-center row mb-3">
			<div class="col-1">
				<span>Filters:</span>
			</div>

			<SelectItems class="col-2"
                         :data="categories"
                         :empty="{text: 'All', id: null}"/>
			<SelectItems class="col-2"
                         :data="products"
                         :empty="{text: 'All', id: null}"/>
		</div>

		<table class="table table-hover">
			<thead class="table-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Category</th>
					<th scope="col">Product</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<PositionsTableRow v-for="position in positions"
                                   :key="position.id"
                                   :data="position"
                                   :products="products"
                                   :categories="categories"
                                   @refresh="getPositions()"/>
			</tbody>
		</table>
	</div>

	<div class="card-footer">
		<Paginator :currentPage="page"
                   :pages="pages"
                   :perPage="perPage"
                   :total="total"
                   @setPage="setPage"
                   @setPerPage="setPerPage"/>
	</div>
</div>
</template>

<script>
import { ref, onMounted } from 'vue'
import { useRoute } from 'vue-router'

import PositionsCardHeader from './PositionsCardHeader.vue'
import PositionsTableRow from '../tables/PositionsTableRow.vue'
import Paginator from '../Paginator.vue'
import SelectItems from '../SelectItems.vue'

import { getPositionsRequest } from '../../assets/requests.js'


export default {
	components: {
		PositionsCardHeader,
		PositionsTableRow,
		Paginator,
		SelectItems
	},
	emits: ['refresh', 'setPage', 'setPerPage'],
	setup() {
		const positions = ref([])
		const products = ref([])
		const categories = ref([])

		const page = ref(1)
        const perPage = ref(5)
        const pages = ref(1)
        const total = ref(0)

        const route = useRoute()

        const setPage = (requestedPage) => {
            getPositions(requestedPage, perPage.value)
        }

        const setPerPage = (requestedPerPage) => {
            getPositions(page.value, requestedPerPage)
        }

        const getPositions = async (requestedPage=page.value, requestedPerPage=perPage.value) => {
			const response = await getPositionsRequest(
				route.query.category_id,
				requestedPage,
				requestedPerPage
			)

			positions.value = response.data
			products.value = response.products
			categories.value = response. categories

			pages.value = parseInt(response.pages)
            perPage.value = parseInt(response.perPage)
            page.value = parseInt(response.page)
            total.value = response.total
        }

        onMounted(getPositions)

		return {
			positions,
			products,
			categories,
			page,
			perPage,
			pages,
			total,
			getPositions,
			setPage,
			setPerPage
		}
	}
}
</script>