<template>
	<div class="card-header d-flex justify-content-between">
        <span class="fs-2 fw-normal">
            Positions
        </span>
        <button class="btn fs-3"
                data-toggle="modal"
                data-target="#add-new-modal">
            +
        </button>

        <div class="modal fade"
             id="add-new-modal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Create new position
                        </h5>
                        <button class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
						<SelectItems class="mb-3"
                                     :data="categories"
                                     :select_name="'category_id'"
                                     :label_text="'Select category'"/>
                        <SelectItems class="mb-3"
                                     :data="products"
                                     :select_name="'product_id'"
                                     :label_text="'Select product'"/>
                    </div>

                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal">
                            Close
                        </button>
                        <button type="button"
                                class="btn btn-primary"
                                data-dismiss="modal"
                                id="apply-button"
                                @click="createPosition()">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { createPositionRequest } from '../../assets/requests'
import SelectItems from '../SelectItems.vue'

export default {
    props: [ 'products', 'categories' ],
	components: { SelectItems },
	setup(props, context) {

        const createPosition = async () => {
            const positionData = {}

            document.querySelectorAll('#add-new-modal .modal-body select')
                    .forEach((select) => {
                        positionData[select.name] = select.value
                    })

            const response = await createPositionRequest(positionData)

            if (!response.errors) {
                context.emit('refresh')
            } else {
                context.emit('errors')
            }
        }

		return { createPosition }
	}
}
</script>