<template>
	<div class="card mt-3">
		<ProductsCardHeader @refresh="getProducts()"/>

		<div class="card-body">
			<table class="table table-hover">
				<thead class="table-dark">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Image</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<ProductsTableRow v-for="product in products"
                                      :key="product.id"
                                      :data="product"
                                      @refresh="getProducts"/>
				</tbody>
			</table>
		</div>

		<div class="card-footer">
			<Paginator :current_page="page"
                       :pages="pages"
                       :perPage="perPage"
                       :total="total"
                       @setPage="setPage"
                       @setPerPage="setPerPage"/>
		</div>	
	</div>
</template>

<script>
import { ref, onMounted } from  'vue'
import { getProductsRequest } from '../../assets/requests.js'
import ProductsTableRow from '../tables/ProductsTableRow.vue'
import ProductsCardHeader from './ProductsCardHeader.vue'
import Paginator from '../Paginator.vue'

export default {
    components: {
        ProductsTableRow,
        ProductsCardHeader,
        Paginator
    },
    emits: ['refresh', 'setPage', 'setPerPage'],
    setup() {
        const products = ref([])

        const page = ref(1)
        const perPage = ref(10)
        const pages = ref(1)
        const total = ref(0)

        const getProducts = async (requestedPage=page.value, requestedPerPage=perPage.value) => {
            const response = await getProductsRequest(requestedPage, requestedPerPage)

            products.value = response.data

            pages.value = parseInt(response.pages)
            page.value = parseInt(response.page)
            perPage.value = parseInt(response.perPage)
            total.value = parseInt(response.total)
        }

        const setPage = (requestedPage) => {
            getProducts(requestedPage, perPage.value)
        }

        const setPerPage = (requestedPerPage) => {
            getProducts(page.value, requestedPerPage)
        }

        onMounted(getProducts)


        return {
            products,

            page,
            perPage,
            pages,
            total,
            setPage,
            setPerPage,
            
            getProducts
        }
    }
}
</script>