<template>
    <div class="card-header d-flex justify-content-between">
        <span class="fs-2 fw-normal">
            Products
        </span>
        <button class="btn fs-3"
                data-toggle="modal"
                data-target="#add-new-modal">
            +
        </button>

        <div class="modal fade"
             id="add-new-modal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Create new product
                        </h5>
                        <button class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="product-name">
                                Name
                            </label>
                            <input type="text"
                                   class="form-control"
                                   id="product-name"
                                   placeholder="Enter name"
                                   name="name">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal">
                            Close
                        </button>
                        <button type="button"
                                class="btn btn-primary"
                                data-dismiss="modal"
                                id="apply-button"
                                @click="createProduct()">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { createProductRequest } from '../../assets/requests'

export default {
    setup(props, context) {
        const createProduct = async () => {
            const productData = {}

            document.querySelectorAll('.modal#add-new-modal input')
                    .forEach((input) => {
                        productData[input.name] = input.value
                    })

            const response = await createProductRequest(productData)

            if (!response.errors) {
                context.emit('refresh')
            } else {
                context.emit('errors')
            }
        }

        return {
            createProduct
        }
    },
}
</script>