<template>
	<div class="d-flex justify-content-between">
		<nav>
			<ul class="pagination m-0">
				<li :class="currentPage === 1 ? 'page-item disabled' : 'page-item'">
					<a class="page-link"
                       href="#"
                       :data-page="currentPage - 1"
                       @click="setCurrentPage">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>

				<li v-for="page in pages"
					:key="page"
					:class="page === currentPage ? 'page-item active' : 'page-item'">
					<a class="page-link"
                       href="#"
                       :data-page="page"
                       @click="setCurrentPage">
						{{ page }}
					</a>
				</li>

				<li :class="currentPage === pages ? 'page-item disabled' : 'page-item'">
					<a class="page-link"
                       href="#"
                       :data-page="currentPage + 1"
                       @click="setCurrentPage">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>

		<div>
			<span>
				Displaing {{ currentPage * perPage - perPage + 1 }} - {{ currentPage * perPage }} of total {{ total }} results.
			</span>
			<div>
				<SelectItems :data="perPageValues"
                             :label_text="'Display per page:'"
                             :selected_row="perPage"
                             :select_name="'perPage'"
                             @change="setPerPage"/>
			</div>
		</div>
	</div>
</template>

<script>
import SelectItems from './SelectItems.vue'
import { ref } from	'vue'

export default {
	components: { SelectItems },
	props: ['currentPage', 'pages', 'perPage', 'total'],
	emits: ['setPage', 'setPerPage'],
	setup(props, context) {
		const perPageValues = ref([
				{ id: 5, name: '5'},
				{ id: 10, name: '10'},
				{ id: 15, name: '15'},
				{ id: 20, name: '20'},
			])

		const setCurrentPage = (event) => {
			context.emit('setPage', event.target.dataset.page)
		}
		const setPerPage = (event) => {
			context.emit('setPerPage', event.target.value)
		}

		return {
			perPageValues,
			setCurrentPage,
			setPerPage
		}
	}
}
</script>