<template>
	<div>
		<label class="form-label"
               v-if="text">
			{{ text }}
		</label>
		<select class="form-select"
				:name="name"
				v-model="selected">
			<option v-if="empty"
					:value="empty.id">
				{{ empty.text }}
			</option>
			<option v-for="item in items"
					:key="item.id"
					:value="item.id">
				{{ item.name }}
			</option>
		</select>
	</div>
</template>

<script>
import { toRef } from 'vue'

export default {
	props: [
		'data',
		'select_name',
		'label_text',
		'selected_row',
		'empty'
	],
	setup(props) {
		const items = toRef(props, 'data')
		const name = toRef(props, 'select_name')
		const text = toRef(props, 'label_text')
		const selected = toRef (props, 'selected_row')

		return {
			items,
			name,
			text,
			selected
		}
	}
}
</script>