<template>
	<div class="side-bar bg-dark">
		<div class="border-bottom d-flex p-3">
			<span class="h3 text-white">
				McDonalds
			</span>
		</div>
		<div class="mt-3">
			<ul class="nav-pills flex-column">
				<li v-bind:class="'categoriesRoute' === $route.name ? 'nav-item bg-primary rounded-start' : 'nav-item'">
					<router-link :to="{ name: 'categoriesRoute'}" class="align-items-center d-flex nav-link text-white">
						<span class="material-icons-outlined me-2">category</span>
						Categories
					</router-link>
				</li>
				<li v-bind:class="'productRoute' === $route.name ? 'nav-item bg-primary rounded-start' : 'nav-item'">
					<router-link :to="{ name: 'productRoute'}" class="align-items-center d-flex nav-link text-white">
						<span class="material-icons-outlined me-2">inventory_2</span>
						Products
					</router-link>
				</li>
				<li v-bind:class="'positionsRoute' === $route.name ? 'nav-item bg-primary rounded-start' : 'nav-item'">
					<router-link :to="{ name: 'positionsRoute'}" class="align-items-center d-flex nav-link text-white">
						<span class="material-icons-outlined me-2">inventory_2</span>
						Positions
					</router-link>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
export default{
	setup(){
	}
}
</script>

<style>
.side-bar {
	width: 200px;
	height: 100%;
	position: fixed;
	top: 0;
}

</style>