<template>
  <SideBar />
  <div class="container" style="
    position: relative;
    top: 0;
    left: 200px;
">
    <router-view></router-view>
  </div>  
</template>

<script>
import SideBar from'./components/SideBar.vue'

export default {
  components: { SideBar },
  setup() {}
}
</script>
